<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Junior Job Finder</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
    #error{
      color: red
    }
    </style>

  </head>
  <body>
    <div class="container-fluid">
      <div class="page-header">
        <a href="/"><h1> Find Junior Roles </h1></a>
      </div>
      <p> Search for the junior role you want on one of the sites in the dropdown and then paste the url of the search results into the form below.  Your results should have a much higher concentration of roles that are actually junior. For best results, copy the url of the second page of search results. </p>
      <form class="" action="/refineSearch" method="post">
        {% csrf_token %}
        Url:<input type="text" name="url" value="">
        Site: <select type="text" name="site" value="">
          <option value="Indeed">Indeed</option>
          <option value="Ziprecruiter">ZipRecruiter</option>
        </select>
        <input type="submit" name="" value="submit">
      </form>
      (Depending on the size of search results, this could take awhile)
    </div>
  </body>
</html>
