<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Junior Job Finder</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
    #error{
      color: red
    }
    </style>

  </head>
  <body>
    <div class="container-fluid">
      {% if request.session.currentUser %}
      <a href="/logout">Logout</a>
      {% endif %}
      <div class="page-header">
        <a href="/"><h1> Find Junior Roles </h1></a>
      </div>
      {% if request.session.currentUser %}
      <p>{{userMessage}}</p>
      {% endif %}
      <p> This site is designed to help job seekers looking for junior roles. Many times search results on online job boards will include obviously senior roles even when junior is specfied in the search. To use the site, simply search for the junior role you want on Indeed/ZipRecruiter, then copy url and paste it into the search bar below. Select the appropriate site from the dropdown menu then click the search button. The site will filter out many of the obviously senior roles and display a new list of search results. For more information on using the site click <a href="/instructions"> here</a></p>
      <form class="" action="/refineSearch" method="post">
        {% csrf_token %}
        Url:<input type="text" name="url" value="">
        Site: <select type="text" name="site" value="">
          <option value="Indeed">Indeed</option>
          <option value="Ziprecruiter">ZipRecruiter</option>
        </select>
        <input type="submit" name="" value="Search">
      </form>
      <div id="error">
        {% if messages %}
          {% for message in messages %}
          <p> {{message}}</p>
          {% endfor %}
        {% endif %}
      </div>
      (Depending on the size of search results, this could take awhile)
      <p><a href="login/loginPage">{{message}}</a></p>
      {% if request.session.currentUser %}
      <h3> Your previous searchs: </h3>
      {% for search in userSearch %}
        <p><a href="/histSearch/{{search.id}}">{{search.searchText}}</a></p>
      {% endfor %}
      {% endif %}
    </div>
  </body>
</html>
